$img-logo-x: 0px;
$img-logo-y: 0px;
$img-logo-offset-x: 0px;
$img-logo-offset-y: 0px;
$img-logo-width: 70px;
$img-logo-height: 70px;
$img-logo-total-width: 70px;
$img-logo-total-height: 70px;
$img-logo-image: '../../assets/img/sprite.png';
$img-logo: 0px 0px 0px 0px 70px 70px 70px 70px '../../assets/img/sprite.png';

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  background-image: url(nth($sprite, 9));
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
