html {
    @include font(base, $fallback: true);
    @include responsive(large) {
        -webkit-overflow-scrolling: inherit;
        overflow-y: hidden;
    }

    width: 100%;

    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;

    font-size: (font-size(medium, $rem: false));
}

body {
    @include font(base);
    @include responsive(large) {
        -webkit-overflow-scrolling: inherit;
        overflow-y: inherit;
    }

    display: flex;
    width: 100%;

    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;

    background-color: color(primary);

}