main {
    @include responsive(large) {
        display: flex;
        min-width: 100dvw;
        height: 100dvh;

        margin-left: 105px;
    }

    .soon {
        position: relative;
        height: 100dvh;

        .container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            margin: auto;
            height: fit-content;
        }
    }
}