section {
    @include responsive(large) {
        display: flex;
        min-width: 100dvw;
        height: 100dvh;

        padding-top: 0;
        padding-left: 100px;
    }

    width: 100vw;
    height: 100vh;

    padding-top: 110px;
    padding-left: 0;

    > header {
        @include responsive(large) {
            position: relative;

            width: 50px;
            height: 100dvh;

            padding: 0;
        }

        width: 100vw;

        padding: space(base);

        background-color: color(dark);
        color: color(light);

        h2 {
            @include responsive(large) {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                width: 45px;
                height: 45px;

                margin: 45px auto auto 20px;

                transform: rotate(-90deg);
            }

            @include font(bold);
        }
    }

    &#hello {
        @include responsive(large) {
            margin: 0;
            margin-left: -105px;
        }

        margin: space(base) space(base);

        > div {
            width: 100vw;
        }

        h3 {
            @include responsive(large) {
                margin: 0;
                font-size: font-size(xxxbig);
                text-align: right
            }

            @include font(base);

            margin: space(base) 0;

            font-size: font-size(big);
            text-align: center;
            line-height: .9;
            text-shadow: 0px 4px 4px fade-out($color: color(dark), $amount: .75);

            strong {
                @include font(bold);
            }
        }
    }
}