section {
    @include responsive(large) {
        display: flex;
        min-width: 100dvw;
        min-height: 100dvh;

        padding-top: 0;
        padding-left: 100px;
    }

    width: 100vw;
    min-height: 100vh;

    padding-top: 110px;
    padding-left: 0;

    > header {
        @include responsive(large) {
            position: relative;

            width: 50px;
            height: 100vh;
        }

        width: 100vw;

        padding: space(base);

        background-color: color(dark);
        color: color(light);

        h2 {
            @include responsive(large) {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                width: 35px;
                height: 45px;

                margin: 45px auto auto 20px;

                transform: rotate(-90deg);
            }

            @include font(bold);
            font-size: font-size(normal);
        }
    }

    article {
        display: flex;
        align-items: center;

        padding: space(base);

        h3 {
            @include font(bold);

            font-size: font-size(big);

            span {
                border-bottom: 3px solid color(dark);
            }
        }
    }

    &#hello {
        @include responsive(large) {
            margin: 0;
            margin-left: -105px;
        }

        margin: space(base) space(base);

        > div {
            width: 100vw;
        }

        h3 {
            @include responsive(large) {
                margin: 0;
                font-size: font-size(xxxbig);
                text-align: right
            }

            @include font(base);

            margin: space(base) 0;

            font-size: font-size(big);
            text-align: center;
            line-height: .9;
            text-shadow: 0px 4px 4px fade-out($color: color(dark), $amount: .75);

            strong {
                @include font(bold);
            }
        }
    }

    &#sobre {
        article {
            width: 100%;

            padding: space(xg) space(g);

            p {
                margin-bottom: space(g);

                font-size: font-size(large);
                line-height: 2;

                span {
                    @include font(bold);

                    display: inline;

                    padding: 0 (space(p) / 1.5);

                    background-color: color(dark);
                    color: color(light);
                    line-height: 1.5;
                    white-space: wrap;
                    word-break: break-word;
                }
            }

            ul {
                li {
                    margin: space(base) 0;
                    span {
                        @include font(bold);

                        display: inline-block;

                        padding: 0 (space(p) / 1.5);

                        background-color: color(dark);
                        color: color(light);
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}